.loaderBase {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.base {
  max-width: 700px;
  width: 80%;
  height: 20px;
  background: #888;
  border-radius: 40px;
  overflow: hidden;
}

.loaderBase p {
  text-align: center;
}

.loader {
  width: 0;
  background: #ec7785;
  height: 20px;
}

.loader.active {
  width: 100%;
}
